*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Proxima Nova';
    font-weight: 400;
    
    color: white;

    background: linear-gradient( 90deg, #162831, #0c1920, #162831);
    background-color: #162831;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

.title, .subtitle, .section-name{
    font-family: 'El Messiri';
    font-weight: 700;

    text-align: center;
}

/* Container */
.global-container{
    max-width: 1296px;
    margin: 0px auto;
}

.global-container_little{
    max-width: 1076px;
    margin: 0px auto;
}

/* header */
.header{
    height: 60px;
}

.header_main-retreat{
    margin-top: 30px;
    margin-bottom: 50px;
}

.header_minor-retreat{
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo-img,
.header__logo{
    height: 60px;
    width: 60px;
}

.navigation__box{ 
    display: flex;
    gap: 50px;
}

.navigation__item{
    list-style-type: none;
}

.navigation__link{
    font-size: 0.875rem;
    line-height: calc(19 / 14);
}

.button{
    background-color: #018ABE;
}

.button_sign-up, .button_sign-up:hover{
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: calc(18 / 13);
    
    border-radius: 3px;

    width: 125px;
    padding: 9px 15px;
}

.line{
    border: none;
    border-bottom: 1px solid white;
    opacity: 50%;
}

.title{
    font-size: 4rem;
    line-height: calc(90 / 64);
}

.title_box{
    max-width: 587px;
}

.section-name{
    font-size: 2.625rem;
    font-weight: 700;
    line-height: calc(59 / 42);
}

.section-name_main{
    margin-bottom: 100px;
}

.section-name_minor{
    margin: 60px 0px;
}

.subtitle{
    font-size: 1.5rem;
    line-height: calc(34 / 24);
}
 
.section-name:before, .section-name::after,
.subtitle::before, .subtitle::after{
    content: '';
    display: inline-block;

    width: 28px;
    height: 14px;
}

.section-name::before, .section-name::after{
    margin: 0px 45px;

    background: url('../images/global/petal_blue.svg'); 
}

.subtitle::before, .subtitle::after{
    margin: 0px 66px;

    background: url('../images/global/petal_white.svg'); 
}

.section-name::after, .subtitle::after{
    transform: scaleX(-1);
}

.img-box{
    display: flex;
    align-items: end;

    font-family: 'El Messiri';
    font-weight: 700;

    border-radius: 10px;
    background: url('../images/sessions-bg.png') center / cover;
}

.img-box_main{
    font-size: 1.5rem;
    line-height: calc(34 / 24);
    
    padding: 30px 40px;
}

.img-box_minor{
    font-size: 1.5rem;
    line-height: calc(34 / 24);
    
    padding: 30px 35px;
}

.img-box_big{    
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 50px;
}

.footer{
    height: 19px;
}

.footer_main{
    margin: 90px 0px 30px;
}

.footer__сopyright{
    display: inline-flex;
}

.footer__did{
    float: right;
}
