.content{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.content-hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
    
    padding: 136px 0px 210px;

    background: url("../images/main/hero/bg.png") center / cover; 
}

.content-sessions__box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 258px;
    grid-gap: 24px;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 526px;
    row-gap: 100px;
    column-gap: 24px;
}

.about__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__item_left{
    padding-left: 40px;
}

.about__name{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(34 / 24);

    margin-bottom: 30px;
}

.about__text{
    font-weight: 300;
    line-height: calc(23 / 16);

    margin-bottom: 1rem;
}

.about__text_box{
    width: 466px;
}

.about__img{
    width: 526px;
    height: 365px;
    
    border-radius: 10px;    
}

.about__img_height{
    height: 400px;
}

.price{
    display: flex;
    justify-content: space-between;
}

.price__table{
    display: flex;
    align-items: center;
}

.price__box{
    width: 416px;

    display: flex;
    flex-direction: column;
    gap: 31px;
}

.price__row{
    display: flex;
    justify-content: space-between;
}

.price__row-name, .price__row-price{
    font-size: 1.125rem;
    line-height: calc(25 / 18);
}

.price__row-name::before{
    content: '';
    display: inline-block;

    width: 18px;
    height: 9px;

    margin-right: 20px;
    background: url('../images/global/petal_blue.svg') center / cover;  
}

.price__row-name{
    font-weight: 400
}

.price__row-price{
    font-family: 'El Messiri';
    font-weight: 700;
}

.price__img{
    width: 526px;
    height: 396px;
}

.price__img-description{
    font-family: 'El Messiri';
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: calc(29 / 21);
    text-align: center;

    margin-top: 30px;
}

.contacts{
    display: grid;
    grid-template-columns: 856px 290px;
    grid-auto-columns: 290px;
    row-gap: 24px;
    column-gap: 48px;
}

.contacts__map{
    width: 856px;
    height: 604px;
    
    border: 0px;
    border-radius: 10px;

    grid-row-start: 1;
    grid-row-end: 3;
}

.contacts__box{
    width: 302px;

    padding: 35px 45px;

    background-color: #018ABE;
    border-radius: 10px;
}

.contacts__name{
    font-family: 'El Messiri';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(34 / 24);
}


.contacts__location{
    display: flex;
    flex-direction: column;
    gap: 21px;

    margin:20px 0px 30px;

    font-size: 0.875rem;
    line-height: calc(19 / 14);
}

.contacts__address,
.contacts__metro,
.contacts__record{
    display: flex;
    align-items: center;
}

.contacts__address::before{
    content: '';
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-right: 20px;
    background: url('../images/contacts/location.png') center / cover;  
}

.contacts__metro:before{
    content: '';
    display: inline-block;

    width: 20px;
    height: 16px;

    margin-right: 20px;
    background: url('../images/contacts/metro.png') center / cover;
}

.contacts__record:before{
    content: '';
    display: inline-block;

    width: 20px;
    height: 20px;

    margin-right: 20px;
    background: url('../images/contacts/calendar.png') center / cover;
}

.contacts__button,.contacts__button:hover{
    background-color: white;
    color: #018ABE;
}