.content{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
    
    padding: 136px 0px 210px;

    background: url("../images/hero/bg.png") center / cover; 
}

.sessions__box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 258px;
    grid-gap: 24px;
}








.main_container_light{
    max-width: 1076px;
    margin: 0px auto;
}

.about_name{
    font-size: 1.5rem;
    font-weight: 700;
}

.about_text{
    font-size: 1rem;
    font-weight: 300;
}

.about_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 526px;
    row-gap: 100px;
    column-gap: 24px;
}

.about_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}



.photo{
    height: 365px;
    width: 526px;
    
    border-radius: 10px;    
    filter: contrast(400%);

}

.dd{
    display: flex;
    gap: 134px;
}

table{
    display: flex;
    align-items: center;
}


tbody{
    display: flex;
    flex-direction: column;
    

    gap: 31px;
    width: 416px;
}

tr{
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
}

th{
    text-align: left;
}

th::before{
    content: '';
    display: inline-block;

    width: 18px;
    height: 9px;
    margin-right: 20px;
    background: url('../images/petal_blue.svg') center / cover;  
}

td{
    font-family: 'El Messiri';
    text-align: left;
}

.dd img{
    width: 526px;
    height: 396px;
}

.dd p{
    text-align: center;
    padding-top: 30px;
}

.ff{
    display: grid;
    grid-template-columns: 856px 290px;
    grid-auto-columns: 290px;
    row-gap: 24px;
    column-gap: 48px;
}

iframe{
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px;
}

.ffr{
    background-color: #018ABE;
    border-radius: 10px;
    width: 392px;
}

.footer{
    display: flex;
    justify-content: space-between;

    margin: 90px 0px 30px;
}