:root{
    --imgAmount: 4;

    --imgWidthActive: 636px;
    --imgHeightActive: 350px;

    --paddingGorActive: 60px;
    --paddingVerActive: 50px;

    --imgWidth: 500px;
    --imgHeight: 276px;

    --paddingGor: 45px;
    --paddingVer: 40px;

    --imgGap: 50px;

    --navRetreat: 60px;
}

.slider-container{
    max-width: 1736px;
    margin: 0px auto;
}

.slider{
    width: calc(var(--imgWidthActive) + var(--imgWidth)*2 + var(--imgGap) *2);

    overflow: hidden;   
}

.slider__line{
    width: calc(var(--imgWidthActive) + var(--imgWidth) * var(--imgAmount) + var(--imgGap) * var(--imgAmount));
    
    display: flex;
    align-items: center;
    gap: var(--imgGap);

    position: relative;
}

.slider__item{
    width: calc(var(--imgWidth) - 2 * var(--paddingGor));   
    height: calc(var(--imgHeight) - 2 * var(--paddingVer));

    background-color: #018ABE;
    border-radius: 10px;
    
    padding: var(--paddingVer) var(--paddingGor);

    opacity: 30%;

    position: relative;
    left: 0px;
    
    transition: left 1.2s ease-in-out;

    user-select: none; /* виключення виділення в не активних слайдів */
}

.slider__item_active{
    width: calc(var(--imgWidthActive) - 2 * var(--paddingGorActive)); 
    height: calc(var(--imgHeightActive) - 2 * var(--paddingVerActive));
    
    padding: var(--paddingVerActive) var(--paddingGorActive);

    opacity: 100%;

    user-select: auto; /* включення виділення в активних слайдів */
}

.slider__nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    padding-top: var(--navRetreat);
}

.slider__radio{
    width: 16px;
    height: 16px;

    appearance: none;

    border-radius: 3px;

    background-color: white;

    opacity: 40%;
}

.slider__radio:checked{
    opacity: 100%;
}

.slider__content-box{
    height: calc(var(--imgHeight) - 2 * var(--paddingVer));

    overflow: hidden;
}

.slider__name{
    font-size: 1rem;
    font-weight: 700;
    line-height: calc(22 / 16);

    margin-bottom: 15px;
}

.slider__description{   
    font-size: 0.625rem;
    font-weight: 300;
    line-height: calc(14 / 10);

    margin-bottom: 1.1rem;
}

.slider__item_active > .slider__content-box{
    height: 250px;
}

.slider__item_active > .slider__content-box > .slider__name{
    font-size: 1.25rem;
    line-height: calc(28 / 20);
    
    margin-bottom: 20px;
}

.slider__item_active > .slider__content-box > .slider__description{
    font-size: 0.875rem;
    line-height: calc(20 / 14);
}