.slider-container{
    max-width: 1736px;
    margin: 0px auto;
}

.slider{
    width: calc(636px + 500px * 2 + 50px * 2);
    height: 350px;
    
    overflow: hidden;   
}

.slider-line{
    width: calc(636px + 50px * 3 + 500px * 3);
    height: 350px;

    display: flex;
    align-items: center;
    gap: 50px;

    position: relative;
}

.slider-image{
    background-color: #018ABE;
    border-radius: 10px;
    
    padding: 40px 45px;

    width: 410px;   
    height: 236px;

    opacity: 30%;

    position: relative;

    left: 0px;

    
    transition: all 6s ease-in;
    transition: left 2s ease;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.slider-image_active{
    padding: 50px 60px 0px;
    
    font-size: 1.25rem;

    width: 516px;
    height: 300px;

    opacity: 100%;
    z-index: 1;
}

.slider-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
}

.slider-radio{
    width: 16px;
    height: 16px;

    appearance: none;

    border: 2px solid #999;
    border-radius: 3px;
    background-color: white;

    opacity: 40%;
}

.slider-radio:checked{
    opacity: 100%;
}





.name{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;

    padding-bottom: 15px;
}

.active .name{
    font-size: 1.25rem;
    font-weight: 300;
    padding-bottom: 20px;
}

.description{   
    font-size: 0.625rem;
    font-weight: 300;
}

.active .description{
    font-size: 0.875rem;
}