body{
    color: white;
    background-color: #162831;
}

.d{
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: normal;
}

.dd{
    font-family: 'dd';
    font-weight: 400;
    font-style: normal;
}
